<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= local.title %></title>
    <meta name="description" content="<%= local.description %>" />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body class="home">
      <%- include('../partials/home-header') %>
      <main class="main"><%- body %></main>
      <%- include('../partials/home-footer.ejs') %>
  </body>
</html>
